.floating-button-down {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 145px;
    line-height: 60px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 900;
    color: #524f4e;
    background: rgb(40, 130, 248);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button-down:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }

.arrow-2 {
	cursor: pointer;
	position: relative;
	width: 80px;
	height: 50px;
	margin: 20px;
}
.arrow-2 div {
	position: relative;
    rotate: 90deg;
	top: 30px;
	width: 55px;
	height: 10px;
	background-color: #ffffff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	left: 23px;
	display: block;
}
.arrow-2 div::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 10px;
	top: -11px;
	right: -8px;
	background-color: #ffffff;
	transform: rotate(45deg);
}
.arrow-2 div::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 10px;
	top: 11px;
	right: -8px;
	background-color: #ffffff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	transform: rotate(-45deg);
}
.arrow-2:hover {
	animation: arrow-2 1s linear infinite;
}
@keyframes arrow-2 {
    0% {
        top:0;
	}
    50% {
        top:10px;
	}
    100% {
        top:0;
	}
}
