body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
  position: fixed; 
  bottom: 200px; 
  left: 10px;
  top: auto; 
  right: auto; 
  width: 100%;
  height: 20px;
}
